<%- include("./header.ejs") -%>
<div>
  <!-- <p><%= error.message %></p>
  <p><%= error.status %></p>
  <p><%= error.stack %></p> -->
  <h5><%= error %></h5>
</div>
<script type="text/javascript" defer src="/js/nevBar.js"></script>

<%- include("./footer.ejs") -%>
